h1, h2, h3, p{
  font-family: Helvetica
}

h1, h2, h3, span {
  font-weight: bold;
}

h1 {
  text-align: center;
  color: khaki;
  font-size: 100px;
  background-image: url("pattern.jpeg");
}

h2 {
  color: white;
  font-size: 32px;
  padding: 5px;
}

span {
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}